
@using ChartJSCore.Models;
@{
    ViewData["Title"] = "HRManagement_Dashboard";
    Layout = "~/Views/Shared/Site/_Layout.cshtml";
    static string GetCurrFinancialYear()
    {
        int CurrentYear = (DateTime.Now.Year);
        int PreviousYear = (DateTime.Now.Year - 1);
        int NextYear = (DateTime.Now.Year + 1);
        string PreYear = PreviousYear.ToString();
        string NexYear = NextYear.ToString();
        string CurYear = CurrentYear.ToString();
        string FinYear = string.Empty;
        if (DateTime.Now.Month > 7)
        {
            FinYear = CurYear + "-" + NexYear;
        }
        else
        {
            FinYear = PreYear + "-" + CurYear;
        }
        return FinYear;
    }

    Chart procurementTrend = (Chart)ViewData["procurementTrend"];
    //Chart topProcuredItemsbyOffice = (Chart)ViewData["topProcuredItemsbyOffice"];
    Chart procurementValuebyOffice = (Chart)ViewData["procurementValuebyOffice"];
    //Chart procurementTypebyOffice = (Chart)ViewData["procurementTypebyOffice"];
    Chart procurementStatusPieChart = (Chart)ViewData["procurementStatusPieChart"];
    Chart appUtilizationPieChart = (Chart)ViewData["appUtilizationPieChart"];
    Chart requisitionStatusPieChart = (Chart)ViewData["requisitionStatusPieChart"];
}

<br />
<h4 style="text-align:center">Procurement Dashboard</h4>

<div class="row p-4">
    <div class="col-md-6 p-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Year wise Procurement</h5>
                <canvas id="procurementTrend"></canvas>
            </div>
        </div>

    </div>
    @*<div class="col-md-6 p-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Top Items</h5>
                <canvas id="topProcuredItemsbyOffice"></canvas>
            </div>
        </div>
    </div>*@
    <div class="col-md-6 p-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Procurement Value (@GetCurrFinancialYear())</h5>
                <canvas id="procurementValuebyOffice"></canvas>
            </div>
        </div>
    </div>
    @*<div class="col-md-6 p-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Procurement Types</h5>
                <canvas id="procurementTypebyOffice"></canvas>
            </div>
        </div>
    </div>*@

    <div class="col-md-4 p-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Procurement Status</h5>
                <canvas id="procurementStatusPieChart"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-4 p-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">APP Utilization</h5>
                <canvas id="appUtilizationPieChart"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-4 p-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Status of On-going</h5>
                    <canvas id="requisitionStatusPieChart"></canvas>
                </div>
            </div>
        </div>

</div>

@section Scripts {
    <script type="text/javascript">
        @Html.Raw(procurementTrend.CreateChartCode("procurementTrend"));
        @*Html.Raw(topProcuredItemsbyOffice.CreateChartCode("topProcuredItemsbyOffice"));*@
        @Html.Raw(procurementValuebyOffice.CreateChartCode("procurementValuebyOffice"));
        @*Html.Raw(procurementTypebyOffice.CreateChartCode("procurementTypebyOffice"));*@
        @Html.Raw(procurementStatusPieChart.CreateChartCode("procurementStatusPieChart"));
        @Html.Raw(appUtilizationPieChart.CreateChartCode("appUtilizationPieChart"));
        @Html.Raw(requisitionStatusPieChart.CreateChartCode("requisitionStatusPieChart"));
    </script>
}

