@using ChartJSCore.Models;
@{
    ViewData["Title"] = "Finance_Dashboard";
    Layout = "~/Views/Shared/Site/_Layout.cshtml";
    //Chart RevenueVsExpense = (Chart)ViewData["RevenueVsExpense"];
    //Chart NetProfitVsGrossRevenue = (Chart)ViewData["NetProfitVsGrossRevenue"];
    //Chart AccountReceivableVsCashflow = (Chart)ViewData["AccountReceivableVsCashflow"];
    //Chart CapitalExpenditureVsOperationalExpenses = (Chart)ViewData["CapitalExpenditureVsOperationalExpenses"];
    //Chart AccountsPayable = (Chart)ViewData["AccountsPayable"];
    //Chart AccountsReceivable = (Chart)ViewData["AccountsReceivable"];
    //Chart YearlyTurnOver = (Chart)ViewData["YearlyTurnOver"];
    Chart TotalAssetsvsTotalLiabilities = (Chart)ViewData["TotalAssetsvsTotalLiabilities"];
    Chart TotalEquityvsDebt = (Chart)ViewData["TotalEquityvsDebt"];
    Chart ExpensevsRevenue = (Chart)ViewData["ExpensevsRevenue"];
    Chart GrossProfitvsNetProfit = (Chart)ViewData["GrossProfitvsNetProfit"];
    Chart ReceivablevsPayable = (Chart)ViewData["ReceivablevsPayable"];
    Chart FiscalYearlyTurnover = (Chart)ViewData["FiscalYearlyTurnover"];
    Chart CurrentRatioFiscalYearWise = (Chart)ViewData["CurrentRatioFiscalYearWise"];
    Chart QuickRatioFiscalYearWise = (Chart)ViewData["QuickRatioFiscalYearWise"];
    Chart DebtRatioFiscalYearWise = (Chart)ViewData["DebtRatioFiscalYearWise"];
}

<br />
<h4 style="text-align:center">Finance Dashboard</h4>

<div class="row p-4">
    <div class="col-md-6 p-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Asset vs Total Liabilities (3 Fiscal Years)</h5>
                <canvas id="TotalAssetsvsTotalLiabilities"></canvas>
            </div>
        </div>

    </div>
    <div class="col-md-6 p-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Equity vs Total Debt (3 Fiscal Years)</h5>
                <canvas id="TotalEquityvsDebt"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6 p-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Revenue vs Expenditure (3 Fiscal Years)</h5>
                <canvas id="ExpensevsRevenue"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6 p-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gross Profit vs Net Profit (Last Two Fiscal Years)</h5>
                <canvas id="GrossProfitvsNetProfit"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6 p-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Accounts Receivable vs Payables (3 Fiscal Years)</h5>
                <canvas id="ReceivablevsPayable"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6 p-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Yearly Turnover (3Fiscal Year)</h5>
                <canvas id="FiscalYearlyTurnover"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6 p-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Current Ratio (3 Fiscal Years)</h5>
                <canvas id="CurrentRatioFiscalYearWise"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6 p-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Quick Ratio (3 Fiscal Years)</h5>
                <canvas id="QuickRatioFiscalYearWise"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6 p-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Debt Ratio (3 Fiscal Years)</h5>
                <canvas id="DebtRatioFiscalYearWise"></canvas>
            </div>
        </div>
    </div>
    @*<div class="col-md-6 p-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Revenue vs Expense (Current FY)</h5>
                    <canvas id="RevenueVsExpense"></canvas>
                </div>
            </div>

        </div>
        <div class="col-md-6 p-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Net Profit vs Gross Revenue (Current FY)</h5>
                    <canvas id="NetProfitVsGrossRevenue"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Account Receivable vs Cashflow (Current FY)</h5>
                    <canvas id="AccountReceivableVsCashflow"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Capital Expenditure vs Operational Expenses</h5>
                    <canvas id="CapitalExpenditureVsOperationalExpenses"></canvas>
                </div>
            </div>
        </div>


        <div class="col-md-4 p-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Accounts Payable</h5>
                    <canvas id="AccountsPayable"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-4 p-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Accounts Receivable</h5>
                    <canvas id="AccountsReceivable"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Turnover (Last Year)</h5>
                    <canvas id="YearlyTurnOver"></canvas>
                </div>
            </div>
        </div>*@

</div>

@section Scripts {
    <script type="text/javascript">
        @*@Html.Raw(RevenueVsExpense.CreateChartCode("RevenueVsExpense"));
         @Html.Raw(NetProfitVsGrossRevenue.CreateChartCode("NetProfitVsGrossRevenue"));
         @Html.Raw(AccountReceivableVsCashflow.CreateChartCode("AccountReceivableVsCashflow"));
         @Html.Raw(CapitalExpenditureVsOperationalExpenses.CreateChartCode("CapitalExpenditureVsOperationalExpenses"));
         @Html.Raw(AccountsPayable.CreateChartCode("AccountsPayable"));
         @Html.Raw(AccountsReceivable.CreateChartCode("AccountsReceivable"));
         @Html.Raw(YearlyTurnOver.CreateChartCode("YearlyTurnOver"));*@
         @Html.Raw(TotalAssetsvsTotalLiabilities.CreateChartCode("TotalAssetsvsTotalLiabilities"));
         @Html.Raw(TotalEquityvsDebt.CreateChartCode("TotalEquityvsDebt"));
         @Html.Raw(ExpensevsRevenue.CreateChartCode("ExpensevsRevenue"));
         @Html.Raw(GrossProfitvsNetProfit.CreateChartCode("GrossProfitvsNetProfit"));
         @Html.Raw(ReceivablevsPayable.CreateChartCode("ReceivablevsPayable"));
         @Html.Raw(FiscalYearlyTurnover.CreateChartCode("FiscalYearlyTurnover"));
         @Html.Raw(CurrentRatioFiscalYearWise.CreateChartCode("CurrentRatioFiscalYearWise"));
         @Html.Raw(QuickRatioFiscalYearWise.CreateChartCode("QuickRatioFiscalYearWise"));
         @Html.Raw(DebtRatioFiscalYearWise.CreateChartCode("DebtRatioFiscalYearWise"));
    </script>
}

